.contact{
    max-width: 90%;
    margin: 80px auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

@media(width<600px){
    .contact{
        flex-direction: column;
    }
}




.contact-col{
    flex-basis: 48%;
    color: #676767;
}

@media(width<600px){
    .contact-col{
        flex-basis: 80%;
    }
}




.contact-col h3{
    color: #000F38;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    align-items:center;
    margin-bottom: 20px;
    text-wrap: nowrap;
}


.contact-col h3 span{
    width: fit-content;
}


.contact-col h3 img{
    width: 40px;
    margin-left: 10px;
}


.contact p{
    max-width: 450px;
}


.contact ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;
    align-items: center;
}

.contact ul img{
    width: 30px;
    margin-right: 10px;
}


#element3{
    align-items: start;
    margin-top: 29px;
}


.contact ul .image1{
    width: 25px;
}


.btn.btndark .image1{
    width: 20px;
}

.contact form input,.contact form textarea
{
  display: block;
  width: 100%;
  background-color: #EBECFE;
  padding: 15px;
  border: 0;
  outline: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

.tester11{
    display: inline-block;
    margin-top: 10px;
}