.compus{
    margin: 80px auto;
    width: 90%;
    text-align: center;
}


.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
}


.gallery img{
    width: 23%;
    border-radius: 10px;    
}

@media(width<800px)
{
    .gallery img{
        width: 46%;
    }

    .gallery{
        gap: 10px;
        justify-content: center;
    }
}

@media(width<500px){
    .gallery img{
        width: 90%;
    }

    .gallery{
        row-gap: 20px;
    }
}


.btn.btndark img{
    width: 30px;
    margin-left: 10px;
    height: auto;
}


.btn.btndark:hover{
    opacity: 0.6;
}