.about{
    margin: 140px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

@media(width<800px){
    .about{
        flex-wrap: wrap;
        row-gap: 20px;
        justify-content: center;
    }
}






.about-left{
    flex-basis: 40%;
    position: relative;
    cursor: pointer;
}

@media(width<800px){
    .about-left{
        flex-basis: 80%;
        order: 5;
    }

}







.about-right{
    flex-basis: 56%;
}

@media(width<800px){
    .about-right{
        flex-basis: 90%;
    }
    
}





.about-left-image{
    width: 100%;
    border-radius: 10px;
}

.about-left-image:hover{
    opacity: 0.8;
}

.playIcon{
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


.about h3{
  font-weight: 700;
  line-height: 16px;
  color: #212EA0;
}


.about h2{
    font-size: 35px;
    color: #000F38;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width:400px;
}

.about p{
    color: #676767;
    margin-bottom: 15px;
    margin-bottom: 20px;
}

@media(width<800px){
    .about-right h3,.about-right h2,.about-right p{
        max-width: 100%;
        text-align: center;
        display: block;
    }
}