.video{
    background-color: rgba(14, 14, 14, 0.723);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}




.video video{
    background-color:white;
    width:90%;
    max-width: 1000px;
    height: auto;
    border: 4px solid white;
}