.nav1{
    width: 100%;
   /* background-color: #333;*/
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}



.elements{
    display: flex;
    gap: 30px;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    cursor: pointer;
}

@media(width<1075px){
    .elements{
        position: fixed;
        width: 200px;
        flex-direction: column;
        background-color: #212EA0;
        height: 100%;
        right: -200px;
        top: 0;
        padding-top: 50px;
        transition: all;
        transition-duration: 0.8s;
    }

    .visible{
        right: 0;
    }
}



.image{
    width: 280px;
    height:auto;
    margin: 10px;
    flex-shrink: 1;
}

@media(width<600px){
    .image{
        width: 160px;
    }

}



.nav2{
    background-color: #212EA0;
    transition-duration: 0.6s;
    transition-property: all;
}



.image2{
    width: 30px;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 10;
    cursor: pointer;
    display: none;
}

@media(width<1075px){
    .image2{
        display: block;
    }
}