.footer{
    border-top: 3px solid rgb(126, 119, 119);
    width: 80%;
    margin:auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

@media(width<450px){
    .footer{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}





.footer ul li{
    display: inline-block;
}

#elementli1{
    margin-right: 20px;
}