.testimonials{
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
}


.next-btn,.back-btn{
   position: absolute;
   top: 50%;
   right: 0;
   transform: translateY(-50%);
   padding: 15px;
   width: 50px;
   height: auto;
   border-radius: 50%;
   cursor: pointer;
   background-color: #212EA0;
}

.next-btn:hover,.back-btn:hover{
    opacity: 0.6;
}




.back-btn{
    left: 0;
}




.slider{
    overflow:hidden;
    width: 80%;
    min-width: 190px;
}

@media(width<600px){
    .slider{
        width: 100%;
    }
}




.slider ul{
    display: flex;
    width: 100%;
    overflow-x:visible;
    transition: 0.5s;
}




.slider ul li{
    width:100%;
    padding: 20px;
    flex-shrink: 0;
}


@media(width<600px){
    .slider ul li{
        text-align: center;
    }
}






.slide {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.152);
    padding: 40px;
    border-radius: 10px;
    color: #676767;
    line-height:1.4;
    width: 100%;
}




.slide img{
    width: 65px;
    border-radius: 50%;
    margin-right: 10px;
    border: 4px solid #212EA0;
}

@media(width<600px){
    .slide img{
        margin: 0;
    }
}





.slider h3{
    font-size: 20px;
    font-weight: 700;
    color: #212EA0;
}

@media (width<600px){
    .slider h3{
        margin-top:20px;
        margin-bottom: 20px;
    }

}




.slider span{
    font-size: 18;
    font-weight: 600;
}


.slide p{
    text-align: left;
}


@media(width<600px){
    .slide p{
        text-align: center;
    }
}




.user-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    font-size: 15px;
}

@media(width<600px){
    .user-info{
        flex-direction: column;
    }
}