.testimonials{
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
    width: 90%;
}


.next-btn,.back-btn{
   position: absolute;
   top: 50%;
   right: 0;
   transform: translateY(-50%);
   padding: 15px;
   width: 50px;
   border-radius: 50%;
   cursor: pointer;
   background-color: #212EA0;
}


.back-btn{
    left: 0;
}




.slider{
    overflow:hidden;
    transition-duration: 0.8s;
}




.slider ul{
    display: flex;
    width: 200%;
    overflow-x: hidden;
    transition: 0.5s;
}



.slider ul li{
    width: 25%;
    padding: 80px;
    flex-shrink: 1;
}




.slide {
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    padding: 40px;
    border-radius: 10px;
    color: #676767;
    line-height:1.4;
}




.slide img{
    width: 65px;
    border-radius: 50%;
    margin-right: 10px;
    border: 4px solid #212EA0;
}





.slider h3{
    font-size: 20px;
    font-weight: 700;
    color: #212EA0;
}




.slider span{
    font-size: 18;
    font-weight: 600;
}





.user-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
}