@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body{
  background-color: #F5F5F5;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container1{
  padding-left: 8%;
  padding-right: 8%;
}


@media(width<1075px){
  .container1{
    padding-left: 2%;
    padding-right: 2%;
  }
}
.btn{
  background-color: white;
  color:#212121;
  cursor: pointer;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.herotext h1{
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
}

@media(width<600px){
  .herotext h1{
    font-size: 40px
  }
}


.herotext p{
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4;
}


.btn.btndark{
  background-color: #212EA0;
  color: white;
}


