@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content:center;
  overflow: visible;
}




#root{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:start;
  background-image: linear-gradient(to bottom, rgba(75, 59, 255, 0.192), rgba(121, 49, 255, 0.707));
  min-height: 100vh;
}



@media(min-height:300px){

  #root{
     align-items: center;
  }

}



@media (max-height:300px){
  #mee{
    margin: 30px;
  }
}



.correct{
  border: 2px solid rgb(5, 108, 5);
  background-color: rgba(130, 222, 130, 0.638);
}


.fausse{
  border: 2px solid rgb(147, 14, 14);
  background-color: rgba(211, 109, 109, 0.389);
}
