.programs{
    margin: auto;
    margin-bottom: 80px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
}


.programs img{
    width: 100%;
    border-radius: 10px;
    display: block;
}


.program{
    flex-basis: 31%;
    flex-shrink: 0;
    position: relative;
}


.caption{
    position: absolute;
    inset: 0;
    border-radius: 10px;
    background: #1b2c9c61;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    padding-top: 30px;
    transition-duration: 0.7s;
    transition-property: all;
    transition-timing-function: ease;
}

.caption img{
    width: 60px;
    margin-bottom: 10px;
}


.caption p{
    color: white;
}


.program:hover .caption{
    opacity: 1;
    padding-top: 0;
}